<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="/static/js/pieces.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/multy1.js"></script>

    <script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!--
    <script src="http://192.168.1.66:8888/socket.io/socket.io.js"></script>
    -->
</head>
<body>
<div id="content">
    <p>COntent</p>
    <button onclick="showInstuctions()">Press to start game</button>
</div>

</body>
</html>